# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# User uploads
media/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static collection (production)
staticfiles/

# Python build files
build/
dist/
*.egg-info/