{% extends "store/base.html" %}
{% load static %}
{% block title %}Accessibility | {{ site_settings.brand_name }}{% endblock %}

{% block content %}

<section class="legal-page">

    <div class="legal-header">
        <h1>Accessibility</h1>
        <p>Website & Technology Accessibility Statement</p>
    </div>

    <div class="legal-content">

        <h2>Accessibility Assistance</h2>

        <p>
            We are committed to making Aarti Collection website accessible to all
            customers. If you experience any difficulty accessing any part of our
            website or require assistance with browsing products, placing an order,
            or obtaining information, please contact us.
        </p>

        <p>
            We will make every reasonable effort to provide the information,
            product details, or assistance you need through an accessible
            communication method.
        </p>

        <h2>Our Commitment</h2>

        <p>
            We believe everyone should be able to enjoy a seamless shopping
            experience. Our goal is to create an inclusive website that is easy
            to navigate for all users, including those using assistive
            technologies such as screen readers, magnifiers, keyboard navigation,
            voice recognition software, or other accessibility tools.
        </p>

        <h2>Accessibility Improvements</h2>

        <p>
            We continuously review and improve our website to enhance usability
            and accessibility. As our website grows, we remain committed to
            implementing best practices that help ensure an inclusive online
            experience.
        </p>

        <h2>Ongoing Effort</h2>

        <p>
            Accessibility is an ongoing process. We regularly evaluate our website
            and continue making improvements wherever possible to better serve all
            visitors.
        </p>

        <h2>Feedback</h2>

        <p>
            We welcome your feedback regarding the accessibility of our website.
            If you encounter any accessibility barriers or have suggestions for
            improvement, please contact us.
        </p>

        <div class="contact-box">

            <h3>Contact Us</h3>

            <p>
            <strong>✉</strong>
            <a href="mailto:moon.lina2025@gmail.com">
                moon.lina2025@gmail.com
            </a>
            </p>
        </div>

    </div>

</section>

{% endblock %}